# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# NodeJS
node_modules/
npm-debug.log

# Cordova
platforms/
plugins/

# Bower
bower_components/
lib/

# Mac
.DS_Store

### Intellij
.idea

### NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

